In [1]:
import pandas as pd
data=pd.read_csv(r"C:\Users\tegan\Desktop\programming\data science\num 17\spam.csv",encoding='latin1')
print(data.head())

  category                                            message Unnamed: 2  \
0      ham  Go until jurong point, crazy.. Available only ...        NaN
1      ham                      Ok lar... Joking wif u oni...        NaN
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3      ham  U dun say so early hor... U c already then say...        NaN
4      ham  Nah I don't think he goes to usf, he lives aro...        NaN

  Unnamed: 3 Unnamed: 4
0        NaN        NaN
1        NaN        NaN
2        NaN        NaN
3        NaN        NaN
4        NaN        NaN

In [2]:
data.groupby('category').describe()

         message                                                            \
           count unique                                                top
category
ham         4825   4516                             Sorry, I'll call later
spam         747    653  Please call our customer service representativ...

              Unnamed: 2         \
         freq      count unique
category
ham        30         45     39
spam        4          5      4

                                                                 Unnamed: 3  \
                                                        top freq      count
category
ham        bt not his girlfrnd... G o o d n i g h t . . .@"    3         10
spam                                            PO Box 5249    2          2

                                            Unnamed: 4
         unique                    top freq      count unique      top freq
category
ham           9                     GE    2          6      5  GNT:-)"    2
spam          1   MK17 92H. 450Ppw 16"    2          0      0      NaN  NaN

In [3]:
data['spam'] = data['category'].apply(lambda x: 1 if x=='spam' else 0)
data.head()

,category,message,Unnamed: 2,Unnamed: 3,Unnamed: 4,spam
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN,0
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN,0
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN,1
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN,0
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN,0

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data.message,data.spam,test_size= 0.3)

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [6]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [7]:
emails = ['Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...','Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005 Text FA to 87121 to receive entry question']
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1], dtype=int64)

In [8]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

0.9802631578947368

In [9]:
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer', CountVectorizer()),('nb', MultinomialNB)
])